<!Doctype html>
<html lang="es" dir="ltr">
<head>
    <!--Title-->
    <title>Casa | Proyecto Contaminación</title>

    <!--Styles-->
    <link rel="stylesheet" href='/static/css/main.css'>
    <link rel="stylesheet" href='../static/css/main.css'>
    <link rel='icon' href='/static/img/icon_16.png' type = 'image/png'/>

    <!--Base-->
    <base href="/" target="_blank">

    <!--Meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Contamination proyect keywords">
    <meta name="author" content="Contamination proyect team">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Contamination proyect description">
    <meta name="application-name" content="Contamination proyect">

</head>
<body>
    <div class="header">
        <h1>Contamination Proyect</h1>
        <h4>Proyecto para la feria de cientifica</h4>
    </div>
    <div class="navbar">
        <a href="/" class="active" target="_self">Casa</a>
        <a href="/app" target="_self">Aplicación</a>
        <a href="/wiki" target="_self">Wiki</a>
        <a href="/discussions" target="_self">Discusión</a>
        <a href="/poll" target="_self">Encuesta</a>
    </div>

    <div class="footer">
        <h5>Contamination proyect team @ 2022</h5>
        <h5 id="Information"></h5>
    </div>

    <!--Scripts-->
    <noscript>Your browser does not support JavaScript!</noscript>
</body>
</html>